<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Log properties -->
    <springProperty scope="context" name="springApplicationName" source="spring.application.name"/>
    <springProperty scope="context" name="springActiveProfile" source="spring.profiles.active"/>
    <property scope="context" name="imageName" value="MS_REQUEST_SERVICE"/>
    <property scope="context" name="containerName" value="lgali-request"/>
    <property scope="context" name="vmIP" value="${HOST_IP}"/>
    <property scope="context" name="vmName" value="${HOST_NAME}"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MMMM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME_MS_REQUEST_SERVICE}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME_MS_REQUEST_SERVICE}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- Keep 30 days' worth of history capped at 2GB total size -->
            <maxHistory>30</maxHistory>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>1900MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME_MS_REQUEST_SERVICE}.json</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version/>
                <logLevel/>
                <message/>
                <loggerName/>
                <threadName/>
                <context/>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "trace": {
                        "trace_id": "%mdc{X-B3-TraceId}",
                        "span_id": "%mdc{X-B3-SpanId}",
                        "parent_span_id": "%mdc{X-B3-ParentSpanId}",
                        "exportable": "%mdc{X-Span-Export}"
                        }
                        }
                    </pattern>
                </pattern>
                <mdc>
                    <excludeMdcKeyName>traceId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanId</excludeMdcKeyName>
                    <excludeMdcKeyName>parentId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanExportable</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
                </mdc>
                <stackTrace/>
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME_MS_REQUEST_SERVICE}.%d{yyyy-MM-dd}.%i.json.zip</fileNamePattern>
            <!-- Keep 30 days' worth of history capped at 2GB total size -->
            <maxHistory>30</maxHistory>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>1900MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.lgali.request" level="INFO">
            <appender-ref ref="JSON"/>
        </logger>
        <logger name="de.codecentric.boot.admin" level="WARN"/>
        <logger name="org" level="INFO"/>

    </springProfile>

    <springProfile name="integ">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.lgali" level="INFO">
            <appender-ref ref="JSON"/>
        </logger>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.lgali" level="INFO" />
    </springProfile>

    <springProfile name="!local &amp; !integ &amp; !prod">
        <root level="OFF" />
    </springProfile>

</configuration>
